.cursor{
    cursor: pointer;
    color: #2d3ac9
}

.text-decorator-none{
    text-decoration: none;
}

.fundo{
    background: rgb(10, 5, 5) !important;
    opacity: 1;
}

.fundoletras{
    opacity: 50;
    text-decoration: none !important;
    color: rgb(207, 7, 247);
    font-weight: bold;
    font-style: oblique;
}
.imglogo{
 width: 145px;
 
}
.imglink{
    width: 60px;
    margin-left: 5px;
}
.proximo{
    margin-top: -10px;
    
}
.margim{
    margin-left: 10px !important;
}
.margim2{
    margin-left: -20px !important;
}
.margim3{
    margin-left: 460px !important;
    margin-top: 10px;
}

.NOSSA_MISSAO{
width: 25px;
height: 25px;
}

.HOME{
width: 25px;
height: 25px;
}

.SOBRE_NOS{
width: 25px;
height: 25px;
}

.logout{
    width: 25px;
    height: 25px;
}

