
.text-decorator-none{
    text-decoration: none;
}
.imgb{ 
   
    background-image: url("https://cdn.discordapp.com/attachments/1047476710578331680/1062713905480204298/Download_premium_vector_of_Neon_green_line_pattern_on_a_dark_background_by_marinemynt_about_neon_backdrop_angle_backdrop_background_and_background_design_2344042.jpg") !important;
    background-repeat:no-repeat ;
  
     background-size: cover ;
     background-position:center;
  
}
.grid{
    background-color: rgb(111, 255, 111);
    border-top-left-radius: 3300px;
    border-top-right-radius: 260px;
    border-bottom-right-radius: 3000px;
}
.botton{
    background-color: black !important;
}
.txt{
    color: rgb(103, 255, 103) !important;
    text-decoration: none !important;
}
