
.text-decorator-none{
    text-decoration: none;
}
.imgb{ 
   
    background-image: url("https://cdn.discordapp.com/attachments/1047476710578331680/1062715444806549565/0bc3e117-e139-4c70-bc8c-0fa069e540e9.jpg") !important;
    background-repeat:no-repeat ;
  
     background-size: cover ;
     background-position:center;
  
}
.grid{
    background-color: rgb(111, 255, 111);
    border-top-left-radius: 3300px;
    border-top-right-radius: 260px;
    border-bottom-right-radius: 3000px;
}
.botton{
    background-color: black !important;
}
.txt{
    color: rgb(103, 255, 103) !important;
    text-decoration: none !important;
}
