.textos{
    color: rgb(0, 128, 0);
}

.box1{
    background-color: #1b1818;
    height: 70px;
}

.box2{
    background-color: #020309;
    height: 60px;
}

.redes{
    font-size: 60 !important;
    color: rgb(0, 128, 0);
}
