.cordafont{
    color: rgb(25, 45, 24);
}

.grid4{
    background-color: rgb(0, 0, 0);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 100px;
}

.grid7{
        background-color: rgb(15, 13, 13);
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 100px;
    }

.wallpaperfundo{
    background-image: url("https://cdn.discordapp.com/attachments/1047476710578331680/1062718919971979366/49eb489e1346e5ce3bd67ee92cdf0b2d.gif") !important;
    background-repeat:no-repeat ;
  
     background-size: cover ;
     background-position:center;
}
